
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="@Url.Action("Login", "User")" method="post">
    <div class="input-field">
        <input type="text" name="email" />
        <label for="email">Email</label>
    </div>
    <div class="input-field">
        <input type="password" name="password" />
        <label for="password">Password</label>
    </div>
    <div class="input-field">
        <input type="submit" value="Login" />
    </div>
</form>
@ViewBag.errorMessage

